#title{
    text-align: center;
    color: antiquewhite;
    margin: 5em;
}
*{
    background-color: black;
}

.intro{
    text-align: center;
}

.question{
    text-align: center;
    background-color: gold;
    padding: 1em;
    color: antiquewhite;
    float: left;
}

.anwser{
    text-align: center;
    background-color: gold;
    padding: 1em;
    color: antiquewhite;
    float: right;
}

h1, h2, h3, p{
    background-color: gold;
    color: black;
}

.q1, .q2, .q3, .q4{
    text-align: center;
    border-style: solid;
}

p{
    text-align: left;
}

footer{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }